main {
    background-color: rgba(33, 42, 97, 0.459);
}

h1 {
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
   font-size: 50px;
   margin-top: 20px;
}

.espaco{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
  
}

.informa{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3));
    max-width: 500px;
    max-height: 400px;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border: solid 2px white;
    background-color: rgba(192, 183, 228, 0.486);
    border-radius: 10px;
    padding: 50px;
}
