
body {
  background: #0ac587;
  margin: 0;
}



.Free-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background: #0ac587;
}

.espaco{
  margin-top: 120px;
  height: 700px;
  width: 100%;
  /* background-color:  black; */
  display: flex;
 
}

.box_txt{
  height: 700px;
  width: 50%;
  margin-left: 25px;
  /* background-color: red; */
}

.box_txt h1{
  font-size: 6rem;
}

.box_txt p{
  font-size: 3rem;
}

.imagem{
  height: 500px;
  width: 500px;
}

.bot{
  height: 50px;
  border: none;
  background-color: black;
  color: white;
}

.conteiner{
  width: 70vw;
  margin: auto;

  }

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.face{
  width: 200px;
  height: 200px;
}